#layout-dashboard-root {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 20px;
  gap: 20px;

  width: 100%;
  max-width: 1500px;
  height: calc(100% - 60px);

  flex: none;
  order: 1;
  align-self: center;
  flex-grow: 0;

  background-color: rgba(255, 255, 255, 0);
}

#layout-dashboard-sidebar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  gap: 10px;

  width: 200px;
  height: 100%;

  background: $main-color;
  border-radius: 15px;

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;

  box-sizing: border-box;
}

#layout-sidebar-dashboard-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 14px;

  width: 100%;
  height: calc(100% - 49px);

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 1;

  max-height: none;

  box-sizing: border-box;
}

#text-dashboard-list-title {
  width: 100%;

  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;

  color: $text-white;

  flex: none;
  order: 0;
  flex-grow: 0;
}

#text-dashboard-list-item {
  background: $main-color;
  color: $text-white;

  height: calc(100% - 33px);
  width: 100%;

  display: flex;
  flex-direction: column;
  //gap: 10px;
  overflow-y: scroll;
}

.list-vuetify-item {
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  cursor: pointer;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
}

.list-vuetify-item:hover {
  background: rgba(255, 255, 255, 0.25);
}

#layout-dashboard-history {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 10px;

  width: calc(100% - 220px);
  height: 100%;

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 1;
}

#history-top-title {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  //line-height: 23px;
  display: flex;
  align-items: center;

  color: $text-black;

  width: 100%;

  flex: none;
  order: 0;
  flex-grow: 0;
}

.layout-dashboard-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 5px 0 5px 0;
  gap: 0;

  background: $main-color;
  border-radius: 15px;

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;

  box-sizing: border-box;
}

.card-w100 {
  width: 100%;
}

.card-title {
  padding: 10px 20px 10px 20px;
  color: white;
  font-weight: 600;
  font-size: 14px;
}

.card-content {
  padding: 10px 20px 10px 20px;
  width: 100%;
  color: white;
}

.card-content-tag {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card-content-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.card-content-row-center {
  text-align: center;
  font-size: 14px;
}