#layout-project-root {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 20px;
  gap: 20px;

  width: 100%;
  max-width: 1500px;
  height: calc(100% - 60px);

  flex: none;
  order: 1;
  align-self: center;
  flex-grow: 0;
}

#layout-project-sidebar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  gap: 10px;

  width: 200px;
  height: 100%;

  background: $main-color;
  border-radius: 15px;

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;

  box-sizing: border-box;
}

#layout-sidebar-project-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 14px;

  width: 100%;
  height: calc(100% - 49px);

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 1;

  max-height: none;

  box-sizing: border-box;
}

#text-project-list-title {
  width: 100%;

  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;

  color: $text-white;

  flex: none;
  order: 0;
  flex-grow: 0;
}

#text-project-list-item {
  background: $main-color;
  color: $text-white;

  height: calc(100% - 33px);
  width: 100%;

  display: flex;
  flex-direction: column;
  //gap: 10px;
  overflow-y: scroll;
}

.list-vuetify-item {
  cursor: pointer;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
}

.list-vuetify-item:hover {
  background: rgba(255, 255, 255, 0.25);
}

#text-project-create-btn {
  width: 100%;
}

#layout-project-editor {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0;
  gap: 10px;

  width: calc(100% - 220px);
  height: 100%;

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 1;
}

#layout-project-text-area {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  gap: 10px;

  width: calc(100% - 290px);
  height: 100%;

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

#layout-project-tag-area {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px 0 0 0;
  gap: 10px;

  width: 280px;
  height: 100%;

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 1;
}

#layout-project-editor-top {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 10px;

  width: 100%;

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

#editor-top-title {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  //line-height: 23px;
  display: flex;
  align-items: center;

  color: $text-black;

  height: 100%;

  flex: none;
  order: 0;
  flex-grow: 1;
}

#layout-project-editor-main {
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  margin: 10px 0 0 0;

  width: 100%;
  height: calc(100% - 40px - 60px);

  border: 1px solid #232323;
  border-radius: 8px;

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 1;

  overflow: hidden;
}

#layout-project-editor-pagination {
  width: 100%;

  flex: none;
  order: 2;
  align-self: stretch;
  flex-grow: 1;
}

#layout-project-editor-main-title {
  padding: 10px 0;

  width: 100%;
  height: 39px;

  background: #232323;
  //border-radius: 8px 8px 0 0;

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

#editor-main-title {
  width: 100%;
  height: 100%;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  text-align: center;

  color: $text-white;
}

#editor-main-lines {
  height: 100%;
  width: 100%;
  padding: 10px 20px;
  box-sizing: border-box;
  overflow-y: scroll;
}

#tags-group-select-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  width: 100%;
  height: 94px;

  flex: none;
  order: 0;
  flex-grow: 0;
}

#tags-group-add-btn {
  width: 100%;
}

#layout-project-tag-selection-area {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 10px;

  width: 100%;
  height: calc(100% - 114px - 48px);

  flex: none;
  order: 1;
  flex-grow: 1;
}

#tag-selection-top {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 10px;

  width: 100%;
  height: 30px;

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

#tag-top-title {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 30px;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

  width: calc(100% - 90px);
  height: 30px;

  color: $text-black;

  flex: none;
  order: 0;
}

#tag-top-add-btn {
  flex: none;
  order: 1;
}

#tag-chips {
  width: 100%;
  height: calc(100% - 40px);

  flex: none;
  flex-grow: 1;

  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  //padding: 10px;
  gap: 10px;

  border: 1px solid $main-color;
  border-radius: 8px;

  overflow-y: hidden;
}

.text-line {
  width: 100%;
  display: block;
  margin: 6px 0px 6px 0;
  cursor: pointer;
}

.text-word {
  width: 100%;
  display: inline;
  word-wrap:break-word;
  margin-right: 6px;
  cursor: pointer;
}

.highlight0 {
  background: #9b80e7;
}

.highlight1 {
  background: #d25f5f;
}

.highlight2 {
  background: #aacb6d;
}

.highlight3 {
  background: #6376da;
}

.highlight4 {
  background: #6fd5d5;
}

.highlight5 {
  background: #a47650;
}

#layout-project-model-area {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 10px;

  width: 100%;
  height: calc(100% - 48px);

  flex: none;
  order: 2;
  flex-grow: 0;
}

.model-summary {
  width: 100%;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;

  color: $text-black;

  flex: none;
  order: 0;
  flex-grow: 0;
}

#model-learning-selection {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0;
  gap: 10px;

  width: 100%;

  flex: none;
  order: 2;
  flex-grow: 0;
}

.learning-btn {
  flex: none;
  flex-grow: 1;
}

#annotation-btn {
  width: 100%;
  flex: none;
  order: 3;
}

.stepper-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 10px;

  width: 100%;
  height: 54px;

  overflow: hidden;

  -webkit-transition: all $stepper-animate-sec ease-in-out;
  -moz-transition: all $stepper-animate-sec ease-in-out;
  -o-transition: all $stepper-animate-sec ease-in-out;
  transition: all $stepper-animate-sec ease-in-out;
}

.stepper-item.selected {
  height: calc(100% - (162px + 24px + 40px));
}

.stepper-item-top {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 10px;

  width: 100%;
  height: 24px;

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.stepper-item-top-circle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 0 3px 0;
  gap: 10px;

  width: 24px;
  height: 24px;

  border-radius: 12px;
  background: rgba(0, 0, 0, 0.38);

  flex: none;
  order: 0;
  flex-grow: 0;
}

.stepper-item-top-circle.selected {
  background: #5373C3;
}

.stepper-item-top-circle-num {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;

  color: $text-white;

  flex: none;
  order: 0;
  flex-grow: 0;
}

.stepper-item-top-circle-title {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;

  color: rgba(0, 0, 0, 0.38);

  flex: none;
  order: 1;
  flex-grow: 0;
}

.stepper-item-top-circle-title-selected {
  color: $text-black;
}

.stepper-item-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 0 0 12px;
  gap: 12px;

  width: 100%;
  height: calc(100% - 34px);

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 1;

  -webkit-transition: all $stepper-animate-sec ease-in-out;
  -moz-transition: all $stepper-animate-sec ease-in-out;
  -o-transition: all $stepper-animate-sec ease-in-out;
  transition: all $stepper-animate-sec ease-in-out;
}

.stepper-item-content.selected {
  height: calc(100% - 34px);
}

.stepper-item-content-last {
  height: 0 !important;
}

.stepper-item-content-area {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 0 10px 0;
  gap: 20px;

  width: calc(100% - 34px);
  height: calc(100%);

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 1;
  opacity: 100%;

  -webkit-transition: all $stepper-animate-sec ease-in-out;
  -moz-transition: all $stepper-animate-sec ease-in-out;
  -o-transition: all $stepper-animate-sec ease-in-out;
  transition: all $stepper-animate-sec ease-in-out;
}

.stepper-item-content-area.unselected {
  //height: 0;
  opacity: 0;
}

.stepper-item-buttons {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0;
  gap: 10px;

  width: 100%;
  //height: 29px;

  flex: none;
  order: 2;
  flex-grow: 0;
}

.stepper-item-divider {
  height: 100%;
}

.tag-selection-item {
  display: flex;
  flex-direction: row;
}
