$main-color: #232323;

$text-white: #FFFFFF;
$text-black: #000000;

$background-white: #FFFFFF;

$scrollbar-background-color: #2a2a2a;
$scrollbar-color: #b0b0b0;

$text-size-default: 14px;
$text-size-title: 20px;

$color-accept: #5373C3;
$color-deny: #E24343;

$stepper-animate-sec: 0.3s;